/* You can add global styles to this file, and also import other style files */
:root {
    --company-blue: #09152e;
    --company-orange: #fd951b;
    --company-white: #ffffff;
    --company-background: #f2f2f2;
}



body {

    background-color: var(--company-background) !important;
 

}

@media screen and (max-width: 1060px) {
    .sidebar {
        display: none !important;
    }
}

@font-face {
    font-family: 'LikiLeosFont'; /* Byt ut "DinFont" mot det namn du vill ge din font */
    src: url('src/assets/Fonts/Roper-Serif.ttf') format('truetype'); /* Byt ut "din-fontfil.ttf" mot filnamnet och formatet för din font */
    
  }